@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Satoshi-Variable";
	src:
		url("/fonts/Satoshi-Variable.woff2") format("woff2"),
		url("/fonts/Satoshi-Variable.woff") format("woff"),
		url("/fonts/Satoshi-Variable.ttf") format("truetype");
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Variable";
	src:
		url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
		url("/fonts/ClashDisplay-Variable.woff") format("woff"),
		url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.bg-gridlines {
		background:
			linear-gradient(90deg, hsl(var(--line-color)) 1px, transparent 1px) 0 0 / var(--line-size) var(--line-size),
			linear-gradient(hsl(var(--line-color)) 1px, transparent 1px) 0 0 / var(--line-size) var(--line-size);
		mask: linear-gradient(0deg, transparent 0%, white);
	}
}

@layer base {
	* {
		scroll-behavior: smooth;
	}

	:root {
		--background: 200 14% 3%;
		--foreground: 0 0% 98%;

		--card: 200 14% 3%;
		--card-foreground: 0 0% 98%;

		--popover: 200 14% 3%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;

		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
